<!--@subject {{var ticket.getEmailSubject()}} @-->


{{template config_path="design/email/header_template"}}
There is a new message from <i>{{var data.namestore}}</i>. Here's what they said:
<div style="padding-left:20px;margin:0;border-left:2px solid #ccc;color:#888">
{{var data.content|raw}}
</div>
<p style="padding:20px 0 0 0;margin:0"><b>Do not reply to this email!</b></p>
<br>
<a style="color:#5ac17f" href="{{var data.urllogin}}">Click here to sign in and reply to this message</a>
{{template config_path="design/email/footer_template"}}