<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 bitExpert AG. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BitExpert_ForceCustomerLogin::manage"
             title="Whitelist"
             module="BitExpert_ForceCustomerLogin"
             parent="BitExpert_ForceCustomerLogin::bitexpert_force_login_whitelist"
             sortOrder="55"
             action="ForceCustomerLogin/Manage"
             resource="BitExpert_ForceCustomerLogin::bitexpert_force_customer_login_manage"/>

        <add id="BitExpert_ForceCustomerLogin::bitexpert_force_login_whitelist"
             title="Force Customer Login"
             module="Magento_Backend"
             sortOrder="50"
             parent="Magento_Customer::customer"
             resource="BitExpert_ForceCustomerLogin::bitexpert_force_customer_login_manage"/>
    </menu>
</config>