<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_quote_save_after">
		<observer name="asm_setsellerid_observer_setproductsellerid" instance="Asm\Setsellerid\Observer\Setproductsellerid" />
	</event>
	<event name="sales_quote_load_after">
        <observer name="asm_setsellerid_sales_quote_load_after" instance="Asm\Setsellerid\Observer\ProductInterface" />
    </event>

    <event name="checkout_submit_all_after">
        <observer name="asm_setsellerid_checkout_submit_all_after" instance="Asm\Setsellerid\Observer\Setorderproductseller" />
    </event>
</config>