<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author		Asm
 * @category    Asm
 * @package     Asm_CustomerAddressAttribute
 * @copyright   Copyright (c) 2019 Asm
 */
-->
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
   <module name="Asm_CustomerAddressAttribute"  setup_version="1.0.0">
        <sequence>           
            <module name="Magento_Customer"/>  
        </sequence>   
   </module>
</config> 