
<form id="ask-form-<%- productid %>" method="get" enctype="multipart/form-data" action="<%- formaction %>" class="wk-mp-deny-form">
    <div class="modal-body">
        <div class="bootbox-body">
            <textarea class="bootbox-input bootbox-input-text form-control required-entry  validate-digits-range digits-range-1-100" name="product_commission" rows="4" cols="83"></textarea>
            <input type="hidden" name="product_id" value="<%- productid %>">           
            <input type="hidden" name="seller_id" value="<%- sellerid %>">   
            <input type="hidden" name="entity_id" value="<%- entityid %>">        
        </div>
    </div>
    <div class="modal-footer">
        <span class="error"></span>
        <button type="reset" class="btn btn-default"><span><%- cancellabel %></span></button>
        <button type="submit" class="btn btn-primary"><span><%- submitlabel %></span></button>
        <span class="clear"></span>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        $('#ask-form-<%- productid %>').mage('validation', {});
        $("body").delegate('.action-close',"click",function(){
            console.log($(this).parents('.modals-wrapper').find('form').attr('class'));
            if($(this).parents('.modals-wrapper').find('form').attr('class')=='wk-mp-deny-form'){
                $(this).parents('.modals-wrapper').find('.modals-overlay').remove();
                $(this).parents('.modal-popup').remove();
                $('body').removeClass('_has-modal');
            }
        });
    });
</script>