<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="text_smsnotifications_observer_new_order" instance="TEXT\Smsnotifications\Observer\NewOrder"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="text_smsnotifications_observer_order_cancelled" instance="TEXT\Smsnotifications\Observer\OrderCancelled"/>
        <observer name="text_smsnotifications_observer_order_hold" instance="TEXT\Smsnotifications\Observer\OrderHold"/>
        <observer name="text_smsnotifications_observer_order_un_hold" instance="TEXT\Smsnotifications\Observer\OrderUnHold"/>
       <!--   <observer name="text_smsnotifications_observer_order_payment_review" instance="TEXT\Smsnotifications\Observer\PaymentReview"/> -->
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="text_smsnotifications_observer_invoice_pay" instance="TEXT\Smsnotifications\Observer\InvoicePay"/>
    </event>
   
    <event name="customer_save_after_data_object">
        <observer name="text_smsnotifications_observer_register_success" instance="TEXT\Smsnotifications\Observer\Registration"/>
    </event>
    <event name="admin_system_config_changed_section_text_smsnotifications_configuration">
          <observer name="text_smsnotification_observer_config_save" instance="TEXT\Smsnotifications\Observer\Configsave"/>
    </event>
     <event name="sales_order_shipment_save_before">
         <observer name="text_smsnotifications_observer_shipment_save" instance="TEXT\Smsnotifications\Observer\Shipment"/>
     </event>
    
      <event name="controller_action_postdispatch_customer_account_forgotpasswordpost">
        <observer name="text_smsnotifications_observer_forgot_password" instance="TEXT\Smsnotifications\Observer\ForgotPassword"/>
     </event>

      <event name="review_save_after">
        <observer name="text_smsnotifications_observer_review_save" instance="TEXT\Smsnotifications\Observer\ReviewSave"/>
     </event>
       <event name="newsletter_subscriber_save_after">
        <observer name="text_smsnotifications_observer_newsletter_subs" instance="TEXT\Smsnotifications\Observer\NewsletterSubs"/>
     </event>

</config>