<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="retailinsights_promotion_post_listing_data_source" xsi:type="string">Retailinsights\Promotion\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Retailinsights\Promotion\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">retailinsights_promostoremapp</argument>
            <argument name="resourceModel" xsi:type="string">Retailinsights\Promotion\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

</config>
