<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<event name="checkout_cart_product_add_after">
		<observer name="asm_setsellerid_observer_setproductseller" instance="Asm\Setsellerid\Observer\Setproductseller" />
	</event>
	<!-- <event name="checkout_cart_update_items_after">
	    <observer name="vendorname_checkout_cart_update_items_after" instance="Asm\Setsellerid\Observer\Setproductseller"/>
	</event> -->
	<!-- <event name="sales_quote_load_after">
		<observer name="asm_setsellerid_observer_setproductsellerid" instance="Asm\Setsellerid\Observer\Setproductsellerid" />
	</event>
 -->
</config>