<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <!-- <add id="Asm_Kiranaproducts::parent" title="Kiranaproducts" module="Asm_Kiranaproducts" sortOrder="100" resource="Asm_Kiranaproducts::parent"/> -->
		<add id="Asm_Kiranaproducts::kiranaproducts" title="Export Kirana Products" module="Asm_Kiranaproducts" sortOrder="100" parent="Lof_MarketPlace::catalog" action="kiranaproducts/kiranaproducts" resource="Lof_MarketPlace::catalog"/>

		 <add id="Asm_Kiranaproducts::index" title="Export Products" module="Asm_Kiranaproducts" sortOrder="110" action="kiranaproducts/index" resource="Lof_MarketPlace::catalog" parent="Magento_Catalog::inventory"/>

		  <add id="Asm_Kiranaproducts::exportkirana" title="Export Sellers" module="Asm_Kiranaproducts" sortOrder="110" action="kiranaproducts/exportkirana" resource="Lof_MarketPlace::seller" parent="Lof_MarketPlace::seller"/>

    </menu>
</config>