<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="retailinsights_pricerules_post_listing_data_source" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Retailinsights\Pricerules\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_promotion_byX_getY</argument>
            <argument name="resourceModel" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

     <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="retailinsights_pricerules_postbwgy_listing_data_source" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostBWGY\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Retailinsights\Pricerules\Model\ResourceModel\PostBWGY\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_promotion_BWGY</argument>
            <argument name="resourceModel" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostBWGY</argument>
        </arguments>
    </virtualType>

     <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="retailinsights_pricerules_postworth_listing_data_source" 
        xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostWorth\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

       <virtualType name="Retailinsights\Pricerules\Model\ResourceModel\PostWorth\Grid\Collection"
    
     type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_promotion_byXXX_getY</argument>
            <argument name="resourceModel" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostWorth</argument>
        </arguments>
    </virtualType>

 <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="retailinsights_pricerules_postxyz_listing_data_source" 
        xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostXYZ\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

       <virtualType name="Retailinsights\Pricerules\Model\ResourceModel\PostXYZ\Grid\Collection"
    
     type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_promotion_NXNYNZ</argument>
            <argument name="resourceModel" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostXYZ</argument>
        </arguments>
    </virtualType>


 <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="retailinsights_pricerules_postxyzoff_listing_data_source" 
        xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostXYZoff\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

       <virtualType name="Retailinsights\Pricerules\Model\ResourceModel\PostXYZoff\Grid\Collection"
    
     type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_promotion_NXNYNZoff</argument>
            <argument name="resourceModel" xsi:type="string">Retailinsights\Pricerules\Model\ResourceModel\PostXYZoff</argument>
        </arguments>
    </virtualType>


     <preference for="Retailinsights\Pricerules\Api\CatalogRuleRepositoryInterface"
                type="Retailinsights\Pricerules\Model\CatalogRuleRepository" />
   
<!-- Time coding -->
     <type name="Magento\Ui\Component\Form\Element\DataType\Date">
        <plugin name="Retailinsights_Pricerules::allow_format_from_config"
                type="Retailinsights\Pricerules\Plugin\Ui\Component\Form\Element\DataType\Date" sortOrder="1"/>
    </type>
                
        <preference for="Magento\SalesRule\Controller\Adminhtml\Promo\Quote\Save"
        type="Retailinsights\Pricerules\Controller\Adminhtml\Promo\Quote\Save"/>

     
</config>